.version.portafolio /* version checker */
{
	color: #0000EF;
	background-color: #ADFF82;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 499.70000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -28px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	padding-bottom: 87px;
	margin-left: -108px;
}

#u75
{
	z-index: 2;
	width: 1417px;
	height: 87px;
	top: 0px;
	left: 50%;
	margin-left: -708px;
}

#u76
{
	z-index: 3;
	width: 95px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#u82-4
{
	z-index: 5;
	width: 68px;
	min-height: 22px;
	top: 33px;
	left: 50%;
	margin-left: -454px;
}

#u83-4
{
	z-index: 9;
	width: 147px;
	min-height: 24px;
	top: 32px;
	left: 50%;
	margin-left: -362px;
}

#u84-4
{
	z-index: 13;
	width: 138px;
	min-height: 24px;
	top: 32px;
	left: 50%;
	margin-left: -190px;
}

#u85-4
{
	z-index: 17;
	width: 171px;
	min-height: 24px;
	top: 32px;
	left: 50%;
	margin-left: -34px;
}

#u86-4
{
	z-index: 21;
	width: 141px;
	min-height: 27px;
	top: 32px;
	left: 50%;
	margin-left: 167px;
}

#u87-4
{
	z-index: 25;
	width: 118px;
	min-height: 22px;
	top: 34px;
	left: 50%;
	margin-left: 338px;
}

#u88-4
{
	z-index: 29;
	width: 102px;
	min-height: 24px;
	top: 32px;
	left: 50%;
	margin-left: 478px;
}

#pu541
{
	width: 0.01px;
	margin-left: -191px;
	margin-top: 23px;
}

#u541
{
	z-index: 58;
	height: 67px;
	background-color: #7F7F7F;
	opacity: 0.29;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=28.999999999999996)";
	filter: alpha(opacity=28.999999999999996);
}

#u541-bw
{
	z-index: 58;
	height: 67px;
}

#u542-4
{
	z-index: 59;
	width: 751px;
	min-height: 40px;
	background-color: transparent;
	line-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 358px;
}

#u543
{
	z-index: 63;
	width: 595px;
	height: 5px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u544
{
	z-index: 64;
	width: 595px;
	height: 5px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 873px;
}

#pu515-10
{
	width: 0.01px;
	margin-left: 95px;
	margin-top: 30px;
}

#u515-10
{
	z-index: 48;
	width: 318px;
	min-height: 76px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u591-8
{
	z-index: 65;
	width: 321px;
	min-height: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 570px;
}

#u515-2,#u591-2
{
	font-weight: bold;
}

#pu592
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 36px;
}

#u592
{
	z-index: 73;
	width: 513px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu594
{
	z-index: 74;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	left: 533px;
}

#u602
{
	position: absolute;
	width: 480px;
	height: 360px;
	background-color: transparent;
	left: 140px;
}

#u602popup
{
	z-index: 75;
}

#u607
{
	z-index: 76;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u603
{
	z-index: 78;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u605
{
	z-index: 80;
	width: 480px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u607_clip,#u603_clip,#u605_clip
{
	overflow: hidden;
	width: 480px;
	height: 360px;
}

#u607_img,#u603_img,#u605_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u595
{
	position: absolute;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 260px;
}

#u595popup
{
	z-index: 82;
}

#u600
{
	z-index: 83;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u596
{
	z-index: 85;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u600.SSSlideLinkSelected,#u596.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u598
{
	z-index: 87;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u598.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#u600_clip,#u596_clip,#u598_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u600_img,#u596_img,#u598_img
{
	margin-left: -4px;
	margin-right: -3px;
}

#u610
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 360px;
	left: 140px;
}

#u610popup
{
	z-index: 89;
}

#u613-4
{
	z-index: 90;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u611-4
{
	z-index: 94;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u612-4
{
	z-index: 98;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u619-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 521px;
}

#u619-4popup
{
	z-index: 102;
}

#u609-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 490px;
}

#u609-4popup
{
	z-index: 106;
}

#u619,#u609
{
	color: #999999;
}

#u615-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 590px;
}

#u615-4popup
{
	z-index: 110;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu91
{
	z-index: 33;
	width: 0.01px;
	position: relative;
	margin-left: -108px;
	margin-top: 10px;
}

#u91
{
	z-index: 0;
	width: 1439px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu92
{
	width: 0.01px;
	position: relative;
	left: 107px;
	padding-top: 17px;
	z-index: 2;
	padding-bottom: 30px;
}

#u92
{
	z-index: 34;
	width: 201px;
	margin-right: -10000px;
}

#u122-4
{
	z-index: 44;
	width: 461px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 357px;
}

#u114
{
	z-index: 42;
	width: 30px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1042px;
}

#u109
{
	z-index: 40;
	width: 30px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1085px;
}

#u104
{
	z-index: 38;
	width: 30px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1127px;
}

#u98
{
	z-index: 36;
	width: 30px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1170px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

